$blue: #17317f;
$white: #ffffff;
$lightgrey: #adadad;
$headerPadding: 10px;
$aliceBlue: #f0f8ff;
$lightGold: lightgoldenrodyellow;
$yellowLight: #fedc07;
$yellowDark: #ebc200;

$padding: 0.83rem;
$radius: 0.33rem;
$page-margin: 4.16rem;
$font-size-default: 1.3rem;
