@import '../styles/variables.scss';

// add rem to the $font-size-default variable,
// to make font-size larger. e.g. in .title
@function add($num) {
  @return $font-size-default + $num;
}

.body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main {
  background-image: url('../images/background.png');
  display: flex;
  justify-content: center;
}

/* header component*/
.header {
  background-color: $blue;
  padding: $headerPadding;

  .menu {
    display: flex;
    width: 100%;

    .menu-item:nth-child(2) {margin-left: auto}
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*Sort component*/
.filters,
.sort {
  font-size: $font-size-default;
  max-width: 25rem;
  width: 25rem;
  background-color: $white;
  display: flex;
  flex-flow: column;

  .option:last-child {
    border-bottom: none;
  }

  .option {
    padding: 0 20px 0 20px;
    background-color: $white;
    color: $blue;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid $blue;

    &:hover {
      background-color: $aliceBlue;
    }

    &.active {
      color: $white;
      background-color: $blue;

      .fa-calendar,
      .fa-paper-plane,
      .fa-star {
        color: $white;
      }

      .circle {
        background-color: $white;
      }

      .price-symbol {
        color: $blue;
      }
    }

    &.title {
      color: $white;
      background-color: $blue;
    }

    p {
      display: inline-block;
      padding-right: 5px;

      &.emphasized{
        font-weight: 700;
      }
      &:nth-child(3) {
        float: right;
      }
    }
  }

  .fa-calendar,
  .fa-paper-plane,
  .fa-star {
    color: $lightgrey;
    position: sticky;
    left: 100%;
    font-size: 22px;
  }

  .circle {
    background-color: $lightgrey;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    left: 100%;
    position: sticky;
    display: inline-block;
  }

  .price-symbol {
    color: $white;
  }

  .price-symbol:before {
    content: '£';
    left: 7px;
    position: relative;
  }
}


/*Card component*/
.card {
  display: flex;
  flex-flow: column;
  background-color: $white;
  margin: 0 0 add(1) 0;
  max-width: 61.15rem;

  .row:first-child{
    display: flex;
  }

  .left-column {
    width: 65%;
  }

  .right-column{
    margin: auto;
    padding-left: add(0.3);
    padding-right: add(0.3);
    width: 35%;
  }
}


/*<Button/> component*/
.button{
  &--primary {
    background-color: $yellowLight;
    border-radius: $radius;
    color: $blue;
    width: 100%;
    padding: add(-0.2) 0;
    margin: add(-0.47) 0;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: $yellowDark;
    }

    .text-line1{
      display: block;
      font-weight: 600;
    }
    .text-line2{
      font-weight: 700;
      font-size: 1.6rem;
    }
  }
}


/* <Rating /> component*/
.rating{
  display: inline-flex;
  padding: 0.41rem 0;

  .star{
    font-size: $font-size-default;
    padding: 0.2rem;
    color: $lightgrey;

    &.yellow{
      color: $yellowLight;
    }
  }
}

/* <Label/> component*/
.label{
  font-size: add(-0.2);
  font-weight: 500;

  .title {
    color: $blue;
    font-weight: 700;
    font-size: add(0.2);
  }
  .sub-title{
    font-size: add(-0.1);
    color: $lightgrey;
  }
}

/*<Drawer/> component*/
.drawer{  
  font-size: $font-size-default;
  position: relative;
  cursor: pointer;

  .emphasize {
    font-weight: 700;
  }
  
  .row {
    padding: 0.5rem $padding;
  }

  .title{
    width: 30%;
    background-color: $white;
    color: $blue;

    span:first-child{
      padding-right: 0.41rem;
    }
  }

  .overview-title{
    color: $blue;
    padding: $padding 0;
  }

  .overview-description{
    font-size: add(-0.1);
    font-weight: 500;
  }

  .arrow{
    left: 100%;
    position: sticky;
    font-size: 1.9rem;
    font-weight: 700;
  }

  .info-block{
    padding-right: add(0.3);
    display: none;

    &.active{
      display: block;
    }
  }

}
